<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>  
    <style>
      input:active{
        border-color: rgb(255, 96, 96);
      }
  .body{
    background-image: url(\static\css\photo-1477346611705-65d1883cee1e.png);
  }
  
  
  </style>   
  
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
  

    
      {% with messages = get_flashed_messages(with_categories=true)%}
      {% if messages%}
      {% for mess in messages %}
      
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{mess}}
      <button class="close" type="button" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      
    {% endfor %}
    {% endif %}
    {% endwith %}
  
    <div class="main-box">
      <div class="sign-up">
        {% block signupform%}
        {% endblock %}
      </div>
    </div>

<script type="text/javascript"
src="{{ url_for('static', filename='javascript/index.js') }}"></script>
<script type="text/javascript"
src="{{ url_for('static', filename='javascript/register.js') }}"></script>
</body>
</html>